@media (max-width: 800px) {
    .offer__list-item {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
}

@media (max-width: 1000px) {
    .header__navigation {
        overflow: hidden;
    }

    .header__search {
        min-width: 200px; /* Impede que ele desapareça */
    }

    .header__login {
        display: flex;
        gap: 10px;
        min-width: 200px; /* Evita que os botões se sobreponham */
    }

    .navigation {
        min-width: 80px; /* Evita que as setas sumam */
    }

    .header__login .subscribe {
        margin-left: 10px;
    }
}

@media (min-width: 1600px) {
    .sidebar {
        width: 18vw;
    }
}